*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-image: url(./imagen/espacio1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sol1{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.sol{
    width: 300px;
    height: 300px;
    margin: 1em;
    border-radius: 50%;
    background: url(./imagen/75116.png);
    background-size: cover;
    box-shadow: .1em .1em 5em blue,
                inset -40px -10px 20px rgba(4, 0, 7, 0.877);


    /* box-shadow: inset 0px 0px 20px black,                inset -40px -10px 20px rgba(31, 3, 51, 0.699); */
    animation:neo 5s linear infinite ;
    -webkit-animation:neo 40s linear infinite ;
}

@keyframes neo{
    0%{
        background-position: 0;
    }
    100%{
        background-position: -2904px;
    }
}


.h1 {
    font-size: 2em;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.459);
    text-align: center;
    text-shadow: 0 0 5px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255), 0 0 15px #0073e6,
    0 0 20px #0073e6, 0 0 25px #0073e6,
    0 0 30px #0073e6, 0 0 35px #0073e6

}


